/fish/.config/fish/functions/fundle.fish
/fish/.config/fish/fundle/
/fish/.config/fish/fish_variables

/ghc/.config/ghc/ghci_history

/neovim/.config/nvim/plugin/packer_compiled.lua

/sunshine/.config/sunshine/credentials/
/sunshine/.config/sunshine/sunshine_*
/sunshine/.config/sunshine/sunshine.log

/vscode/.config/Code/*
!/vscode/.config/Code/User/
/vscode/.config/Code/User/*
!/vscode/.config/Code/User/settings.json
