/.config/cmus/autosave
/.config/cmus/cache
/.config/cmus/command-history
/.config/cmus/lib.pl
/.config/cmus/playlist.pl
/.config/cmus/search-history

/.local/share/fonts/.uuid

/.vim/autoload/plug.vim
/.vim/autoload/plug.vim.old
/.vim/plugged
/.vim/.netrwhist

/.zprezto
