/cmus/.config/cmus/playlists/
/cmus/.config/cmus/autosave
/cmus/.config/cmus/cache
/cmus/.config/cmus/command-history
/cmus/.config/cmus/lib.pl
/cmus/.config/cmus/search-history

/fontconfig/.local/share/fonts/.uuid

/neovim/.config/nvim/plugged/
/neovim/.config/nvim/.netrwhist
