[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/plugged/vim-plug"]
	path = .vim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug.git
